<app-topo></app-topo>
<app-painel *ngIf="jogoEmAndamento; else GameOver" (encerrarJogo)="encerrarJogo($event)"></app-painel>
    <div>
  <ng-template #GameOver>    
    <div class="container" style="margin-top: 50px;">
      <div class="row">
        <div *ngIf="tipoEncerramento === 'Derrota'; else Vitoria" class="col text-center">
          <h3 style="color: red;">
            Game Over 
          </h3>
          <p>
            Infelizmente você perdeu...
          </p>
          <button class="btn btn-primary" (click)="reiniciarJogo()">Tentar novamente</button>
        </div>
        <ng-template #Vitoria>
          <div class="col text-center">
            <h3 style="color: green;">
              Você venceu!!!
            </h3>
            <button class="btn btn-primary" (click)="reiniciarJogo()">Jogar novamente</button>
          </div>
        </ng-template>
      </div>
    </div>
  </ng-template>  
</div>
